@media only screen and (min-width: 600px) {
    .cc-cart-item {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .mighty-slider {
        height: 120px;
    }

    .cc-category {
        width: 33% !important;
        float: left;
    }

    .cc-category-icon {
        border-radius: 100%;
    }

    .collection-hover-img {
        margin-bottom: 20px;
    }

    .collection-detail-wrapper {
        position: relative;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .collection-icon-title {
        font-size: 12px;
    }

    .collection-content {
        display: none;
    }

    .cc-product-main {
        width: 50%;
        margin: 0px;
        margin: 0;
        padding: 5px;
    }

    .list-product-wrapper {
        margin-left: -5px;
        margin-right: -5px;
    }

    .cc-product-wrapper {
        margin: 0px;
    }

    .item-product {
        margin-bottom: 0px;
    }

    .title-product a {
        font-size: 13px;
    }

    .price-well {
        font-size: 13px;
        color: #ed1c24;
    }

    .vc_single_image-img {
        width: 120px;
        height: 120px;
    }

    .status-product {
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        font-size: 10px;
        padding: 10px 2px;
    }

    .action-product {
        pointer-events: none
    }

    .cc-cart-item {
        padding: 10px;
        position: absolute;
        bottom: -20px;
        right: 5px;
    }

    .price {
        width: 80%;
    }

    .btn-shop-cart {
        border-right: 0px solid #ddd;
        border-left: 0px solid #ddd;
    }

}
