.m-5{
    margin: 5px;
}

.mr-5{
    margin-right: 5px;
}

.m-10{
	margin: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mr-10{
    margin-right: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-10{
	padding: 10px;
}



.wrap-installment{

}

.wrap-installment >li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 15px 0;
}

.wrap-installment > li label {
    display: block;
}

.wrap-installment > li label span {
    display: block;
    width: 100px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    background-color: #ffffff;
    border: dashed 1px #dbdbdb;
    cursor: pointer;
}

.wrap-installment > li.active label span {
    border: solid 2px #ff0000;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.34);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.34);
}

.wrap-installment > li label span img {
    display: block;
   	width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.wrap-info-installment{
    padding: 10px;
    background-color: #fffdf5;
    border: solid 1px #ffeeba;
}

.wrap-info-installment h5 {
	font-size: 18px;
    font-weight: 500;
    color: #252525;
    margin: 5px 0 10px 0;
}

.wrap-info-installment li {
    float: left;
    width: 50%;
    padding: 0 10px;
    color: #4a4a4a;
    list-style: none;
}

.wrap-info-installment li strong {
    color: #cb1c22;
}

.list-month-installment{
	display: block;
    overflow: visible;
}

.list-month-installment li {
    width: 108px;
    background: #fff;
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
    border: dashed 1px #dbdbdb;
    list-style: none;
    cursor: pointer;
}

.list-month-installment li.active {
	border: 2px solid #ff0000;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
}


.list-month-installment li a {
    display: block;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.list-month-installment li.active a {
    font-weight: bold;
}

.btn-installment{
    height: 46px;
    padding: 5px 15px;
}

.btn-installment > i,
.btn-installment > span{
    display: inline-block;
        vertical-align: middle;
}

.btn-installment > span > p{
    margin-bottom: 0px;
}

.btn-installment > span > p:first-child{
    font-size: 16px;
}

.btn-installment > span > p:last-child{
    margin-bottom: 0;
    font-size: 10px;
}

.btn-installment > i{
    font-size: 17px;
    margin-right: 5px;
}