@media (max-width: 767px) {
    #SECTION_POPUP {
        height: 0px;
    }
    #SECTION20 {
        height: 804.814px;
    }
    #GROUP21 {
        width: 100%;
        height: 804.814px;
        top: 0px;
        left: -299.461px;
    }
    #SHAPE22 {
        width: 487.645px;
        height: 242.003px;
        top: 0px;
        left: 0px;
    }
    #SHAPE22 > .ladi-shape {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    #SHAPE22 svg:last-child {
        fill: rgba(246, 15, 251, 0.1);
    }
    #SHAPE23 {
        width: 874.621px;
        height: 685.013px;
        top: 119.8px;
        left: 566.051px;
    }
    #SHAPE23 svg:last-child {
        fill: rgba(246, 15, 251, 0.4);
    }
    #SHAPE24 {
        width: 860.662px;
        height: 638.196px;
        top: 166.618px;
        left: 476.349px;
    }
    #SHAPE24 svg:last-child {
        fill: rgba(95, 24, 246, 0.4);
    }
    #GROUP25 {
        width: 85%;
        height: 123px;
        top: 628px;
        left: 27px;
        right: 27px;
    }
    #PARAGRAPH26 {
        width: 100%;
        top: 0px;
        left: 1px;
    }
    #PARAGRAPH26 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #BUTTON27 {
        width: 175px;
        height: 40px;
        top: 83px;
        left: 0px;
    }
    #BUTTON27 > .ladi-button > .ladi-button-background {
        background-color: rgb(154, 60, 245);
    }
    #BUTTON27 > .ladi-button {
        border-radius: 1000px;
    }
    #BUTTON_TEXT27 {
        width: 173px;
        top: 9px;
        left: 0px;
    }
    #BUTTON_TEXT27 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE29 {
        width: 130.145px;
        height: 37.9587px;
        top: 38.814px;
        left: 144.928px;
    }
    #IMAGE29 > .ladi-image > .ladi-image-background {
        width: 130.145px;
        height: 37.9587px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s450x350/5c7362c6c417ab07e5196b05/logo-1-20200218021633.png");
    }
    #GROUP30 {
        height: 174px;
        top: 434px;
        left: 27px;
        right: 27px;
    }
    #PARAGRAPH31 {
        width: 253px;
        top: 0px;
        left: 1px;
    }
    #PARAGRAPH31 > .ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.2;
    }
    #HEADLINE32 {
        width: 100%;
        top: 24px;
        left: 0px;
    }
    #HEADLINE32 > .ladi-headline {
        color: rgb(35, 86, 218);
        font-size: 42px;
        font-weight: bold;
        text-align: left;
        line-height: 1.2;
    }
    #GROUP33 {
        width: 391.223px;
        height: 326.058px;
        top: 99.716px;
        left: 14.389px;
    }
    #SHAPE34 {
        width: 167.682px;
        height: 167.802px;
        top: 158.256px;
        left: 14.9425px;
    }
    #SHAPE34 svg:last-child {
        fill: rgba(8, 58, 145, 0.2);
    }
    #BOX35 {
        width: 305.643px;
        height: 305.643px;
        top: 10.9067px;
        left: 0px;
    }
    #BOX35 > .ladi-overlay {
        border-radius: 1000px;
    }
    #BOX35 > .ladi-box {
        border-radius: 1000px;
        background-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-color: rgba(13, 98, 242, 0.4);
        border-width: 1px;
    }
    #BOX36 {
        width: 285.267px;
        height: 285.266px;
        top: 19.646px;
        left: 10.1881px;
    }
    #BOX36 > .ladi-overlay {
        border-radius: 1000px;
    }
    #BOX36 > .ladi-box {
        border-radius: 1000px;
        box-shadow: 0px 15px 20px -20px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 0px 15px 20px -20px rgba(0, 0, 0, 0.7);
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s600x600/57b167c9ca57d39c18a1c57c/2s8r-jc720200324062742.jpg");
        background-position: center top;
        background-repeat: repeat;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 9px;
    }
    #BOX37 {
        width: 94.4097px;
        height: 94.4096px;
        top: 0px;
        left: 209.196px;
    }
    #BOX37 > .ladi-overlay {
        border-radius: 1000px;
    }
    #BOX37 > .ladi-box {
        border-radius: 1000px;
        box-shadow: -26px 15px 20px -20px #000;
        -webkit-box-shadow: -26px 15px 20px -20px #000;
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s400x400/57b167c9ca57d39c18a1c57c/xo1lcyrc20200324062749.jpg");
        background-position: center top;
        background-repeat: repeat;
    }
    #BOX38 {
        width: 140.596px;
        height: 140.595px;
        top: 140.595px;
        left: 250.627px;
    }
    #BOX38 > .ladi-overlay {
        border-radius: 1000px;
    }
    #BOX38 > .ladi-box {
        border-radius: 1000px;
        box-shadow: -15px 4px 20px -20px #000;
        -webkit-box-shadow: -15px 4px 20px -20px #000;
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s450x450/57b167c9ca57d39c18a1c57c/1jiep_6720200324062801.jpg");
        background-position: left center;
        background-repeat: repeat;
    }
    #SECTION39 {
        height: 881.5px;
    }
    #SECTION39 > .ladi-section-background {
        background-color: rgba(217, 235, 255, 0.2);
    }
    #GROUP40 {
        width: 100%;
        height: 498px;
        top: 332px;
        left: 16.9165px;
    }

    #GROUP40 .ladi-group {
        overflow-x: auto;
    }

    #GROUP41 {
        width: 320.167px;
        height: 498px;
        top: 0px;
        left: 0px;
    }
    #BOX42 {
        width: 320.167px;
        height: 249px;
        top: 0px;
        left: 0px;
    }
    #BOX42 > .ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s650x550/57b167c9ca57d39c18a1c57c/osjtd7ef20200324063623.jpg");
        background-position: center top;
        background-repeat: repeat;
    }
    #FRAME43 {
        width: 319.917px;
        height: 249px;
        top: 249px;
        left: 0.25px;
    }
    #FRAME43 > .ladi-frame {
        background: #F60EFB;
        background: -webkit-linear-gradient(180deg, #F60EFB, rgba(35, 86, 218, 1.0));
        background: linear-gradient(180deg, #F60EFB, rgba(35, 86, 218, 1.0));
        box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
    }
    #SHAPE44 {
        width: 72px;
        height: 72px;
        top: 29.5px;
        left: 123.958px;
    }
    #SHAPE44 svg:last-child {
        fill: rgba(217, 235, 255, 0.6);
    }
    #PARAGRAPH45 {
        width: 221px;
        top: 110px;
        left: 49.4585px;
    }
    #PARAGRAPH45 > .ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH46 {
        width: 264px;
        top: 140px;
        left: 41.4585px;
    }
    #PARAGRAPH46 > .ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #SHAPE47 {
        width: 207px;
        height: 207px;
        top: 105.5px;
        left: 186px;
    }
    #SHAPE47 > .ladi-shape {
        transform: rotate(285deg);
        -webkit-transform: rotate(285deg);
    }
    #SHAPE47 svg:last-child {
        fill: rgba(217, 235, 255, 0.1);
    }
    #GROUP48 {
        width: 320.167px;
        height: 498px;
        top: 0px;
        left: 667px;
    }
    #FRAME49 {
        width: 319.917px;
        height: 249px;
        top: 0px;
        left: 0px;
    }
    #FRAME49 > .ladi-frame {
        box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        background-color: rgb(255, 255, 255);
    }
    #SHAPE50 {
        width: 72px;
        height: 72px;
        top: 29.5px;
        left: 118.958px;
    }
    #SHAPE50 svg:last-child {
        fill: rgba(246, 15, 251, 1.0);
    }
    #PARAGRAPH51 {
        width: 225px;
        top: 111.572px;
        left: 47.4585px;
    }
    #PARAGRAPH51 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH52 {
        width: 258px;
        top: 142px;
        left: 32.9585px;
    }
    #PARAGRAPH52 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #SHAPE53 {
        width: 207px;
        height: 207px;
        top: 105.5px;
        left: 186px;
    }
    #SHAPE53 > .ladi-shape {
        transform: rotate(285deg);
        -webkit-transform: rotate(285deg);
    }
    #SHAPE53 svg:last-child {
        fill: rgba(217, 235, 255, 0.2);
    }
    #BOX54 {
        width: 320.167px;
        height: 249px;
        top: 249px;
        left: 0px;
    }
    #BOX54 > .ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s650x550/57b167c9ca57d39c18a1c57c/tqp7jrmm20200324063643.jpg");
        background-position: center top;
        background-repeat: repeat;
    }
    #GROUP55 {
        width: 320.167px;
        height: 498px;
        top: 0px;
        left: 333.5px;
    }
    #BOX56 {
        width: 320.167px;
        height: 249px;
        top: 249px;
        left: 0px;
    }
    #BOX56 > .ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s650x550/57b167c9ca57d39c18a1c57c/ydegbkh720200324063656.jpg");
        background-position: center top;
        background-repeat: repeat;
    }
    #FRAME57 {
        width: 319.917px;
        height: 249px;
        top: 0px;
        left: 0.125px;
    }
    #FRAME57 > .ladi-frame {
        box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        background-color: rgb(255, 255, 255);
    }
    #SHAPE58 {
        width: 72px;
        height: 72px;
        top: 29.5px;
        left: 118.958px;
    }
    #SHAPE58 svg:last-child {
        fill: rgba(246, 15, 251, 1.0);
    }
    #PARAGRAPH59 {
        width: 225px;
        top: 111.572px;
        left: 47.4585px;
    }
    #PARAGRAPH59 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH60 {
        width: 258px;
        top: 142px;
        left: 32.9585px;
    }
    #PARAGRAPH60 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #SHAPE61 {
        width: 207px;
        height: 207px;
        top: 105.5px;
        left: 186px;
    }
    #SHAPE61 > .ladi-shape {
        transform: rotate(285deg);
        -webkit-transform: rotate(285deg);
    }
    #SHAPE61 svg:last-child {
        fill: rgba(217, 235, 255, 0.2);
    }
    #PARAGRAPH62 {
        top: 123px;
        left: 51.5px;
        right: 15px;
    }
    #PARAGRAPH62 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #GROUP63 {
        height: 95px;
        top: 19px;
        left: 5px;
        right: 5px;
    }
    #HEADLINE64 {
        top: 23px;
        left: 52px;
        right: 15px;
    }
    #HEADLINE64 > .ladi-headline {
        color: rgb(35, 86, 218);
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        line-height: 1.2;
    }
    #SHAPE65 {
        width: 52px;
        height: 52px;
        top: 0px;
        left: 20.5px;
    }
    #SHAPE65 svg:last-child {
        fill: rgba(13, 98, 242, 0.4);
    }
    #SHAPE66 {
        width: 18.5px;
        height: 18.5px;
        top: 12.5px;
        left: 0px;
    }
    #SHAPE66 svg:last-child {
        fill: rgba(13, 98, 242, 0.4);
    }
    #SECTION67 {
        height: 350px;
    }
    #SECTION67 > .ladi-section-background {
        background-color: rgba(246, 15, 251, 0.1);
    }
    #HEADLINE68 {
        top: 38px;
        left: 10px;
        right: 10px;
    }
    #HEADLINE68 > .ladi-headline {
        color: rgb(35, 86, 218);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    #GROUP69 {
        width: 100%;
        height: 167px;
        top: 135px;
        left: 0px;
    }
    #GROUP69 .ladi-group {
        overflow-x: auto;
    }

    #GROUP70 {
        width: 299px;
        height: 167px;
        top: 0px;
        left: 0px;
    }
    #BOX71 {
        width: 270px;
        height: 156px;
        top: 11px;
        left: 29px;
    }
    #BOX71 > .ladi-overlay {
        border-radius: 0px;
    }
    #BOX71 > .ladi-box {
        border-radius: 0px;
        box-shadow: 0px 4px 0px 0px rgba(35, 86, 218, 1.0);
        -webkit-box-shadow: 0px 4px 0px 0px rgba(35, 86, 218, 1.0);
        background-color: rgb(154, 60, 245);
        border-style: solid;
        border-color: rgb(0, 102, 255);
        border-width: 0px;
    }
    #SHAPE72 {
        width: 26.5px;
        height: 26.5px;
        top: 36.896px;
        left: 150.75px;
    }
    #SHAPE72 svg:last-child {
        fill: rgba(255, 255, 255, 1.0);
    }
    #HEADLINE73 {
        width: 159px;
        top: 74.671px;
        left: 84.5px;
    }
    #HEADLINE73 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #BOX74 {
        width: 54px;
        height: 54px;
        top: 0px;
        left: 0px;
    }
    #BOX74 > .ladi-overlay {
        border-radius: 150px;
    }
    #BOX74 > .ladi-box {
        border-radius: 150px;
        box-shadow: 2px 2px 0px 0px rgba(242, 67, 13, 1.0);
        -webkit-box-shadow: 2px 2px 0px 0px rgba(242, 67, 13, 1.0);
        background-color: rgb(35, 86, 218);
        border-style: solid;
        border-color: rgb(0, 102, 255);
        border-width: 0px;
    }
    #HEADLINE75 {
        width: 30px;
        top: 13px;
        left: 12.5px;
    }
    #HEADLINE75 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
    }
    #PARAGRAPH76 {
        width: 246px;
        top: 104.671px;
        left: 41px;
    }
    #PARAGRAPH76 > .ladi-paragraph {
        font-family: "Roboto", sans-serif;
        color: rgb(255, 255, 255);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP77 {
        width: 299px;
        height: 167px;
        top: 0px;
        left: 324.5px;
    }
    #BOX78 {
        width: 270px;
        height: 156px;
        top: 11px;
        left: 29px;
    }
    #BOX78 > .ladi-overlay {
        border-radius: 0px;
    }
    #BOX78 > .ladi-box {
        border-radius: 0px;
        box-shadow: 0px 4px 0px 0px rgba(35, 86, 218, 1.0);
        -webkit-box-shadow: 0px 4px 0px 0px rgba(35, 86, 218, 1.0);
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(0, 102, 255);
        border-width: 0px;
    }
    #SHAPE79 {
        width: 26.5px;
        height: 26.5px;
        top: 36.896px;
        left: 150.75px;
    }
    #SHAPE79 svg:last-child {
        fill: rgba(0, 0, 0, 1);
    }
    #HEADLINE80 {
        width: 159px;
        top: 74.671px;
        left: 84.5px;
    }
    #HEADLINE80 > .ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #BOX81 {
        width: 54px;
        height: 54px;
        top: 0px;
        left: 0px;
    }
    #BOX81 > .ladi-overlay {
        border-radius: 150px;
    }
    #BOX81 > .ladi-box {
        border-radius: 150px;
        box-shadow: 2px 2px 0px 0px rgba(242, 67, 13, 1.0);
        -webkit-box-shadow: 2px 2px 0px 0px rgba(242, 67, 13, 1.0);
        background-color: rgb(35, 86, 218);
        border-style: solid;
        border-color: rgb(0, 102, 255);
        border-width: 0px;
    }
    #HEADLINE82 {
        width: 30px;
        top: 13px;
        left: 12.5px;
    }
    #HEADLINE82 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
    }
    #PARAGRAPH83 {
        width: 246px;
        top: 104.671px;
        left: 41px;
    }
    #PARAGRAPH83 > .ladi-paragraph {
        font-family: "Roboto", sans-serif;
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP84 {
        width: 299px;
        height: 167px;
        top: 0px;
        left: 656px;
    }
    #BOX85 {
        width: 270px;
        height: 156px;
        top: 11px;
        left: 29px;
    }
    #BOX85 > .ladi-overlay {
        border-radius: 0px;
    }
    #BOX85 > .ladi-box {
        border-radius: 0px;
        box-shadow: 0px 4px 0px 0px rgba(35, 86, 218, 1.0);
        -webkit-box-shadow: 0px 4px 0px 0px rgba(35, 86, 218, 1.0);
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(0, 102, 255);
        border-width: 0px;
    }
    #SHAPE86 {
        width: 26.5px;
        height: 26.5px;
        top: 36.896px;
        left: 150.75px;
    }
    #SHAPE86 svg:last-child {
        fill: rgba(0, 0, 0, 1);
    }
    #HEADLINE87 {
        width: 159px;
        top: 74.671px;
        left: 84.5px;
    }
    #HEADLINE87 > .ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #BOX88 {
        width: 54px;
        height: 54px;
        top: 0px;
        left: 0px;
    }
    #BOX88 > .ladi-overlay {
        border-radius: 150px;
    }
    #BOX88 > .ladi-box {
        border-radius: 150px;
        box-shadow: 2px 2px 0px 0px rgba(242, 67, 13, 1.0);
        -webkit-box-shadow: 2px 2px 0px 0px rgba(242, 67, 13, 1.0);
        background-color: rgb(35, 86, 218);
        border-style: solid;
        border-color: rgb(0, 102, 255);
        border-width: 0px;
    }
    #HEADLINE89 {
        width: 30px;
        top: 13px;
        left: 12.5px;
    }
    #HEADLINE89 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
    }
    #PARAGRAPH90 {
        width: 246px;
        top: 104.671px;
        left: 41px;
    }
    #PARAGRAPH90 > .ladi-paragraph {
        font-family: "Roboto", sans-serif;
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #SECTION91 {
        height: 695.91px;
    }
    #BOX92 {
        height: 314.829px;
        top: 307px;
        left: 27px;
        right: 27px;
    }
    #BOX92 > .ladi-box {
        background-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-color: rgb(13, 98, 242);
        border-width: 1px;
    }
    #IMAGE93 {
        height: 345px;
        top: 155px;
        left: 43px;
        right: 43px;
    }
    #IMAGE93 > .ladi-image > .ladi-image-background {
        width: 517.5px;
        height: 345px;
        top: 0px;
        left: -100px;
        background-image: url("https://w.ladicdn.com/s850x650/57b167c9ca57d39c18a1c57c/hgcxputz20200324063822.jpg");
    }
    #IMAGE93 > .ladi-image {
        border-color: rgba(242, 67, 13, 0.2);
        border-width: 4px;
    }
    #IMAGE94 {
        min-width: 200px;
        height: 156px;
        top: 516px;
        left: 16px;
    }
    #IMAGE94 > .ladi-image > .ladi-image-background {
        width: 202.792px;
        height: 156px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/57b167c9ca57d39c18a1c57c/kk69uzm320200324063849.jpg");
    }
    #IMAGE94 > .ladi-image {
        border-color: rgba(242, 67, 13, 0.2);
        border-width: 4px;
    }
    #IMAGE95 {
        height: 156px;
        top: 516px;
        left: 232px;
        right: 16px;
    }
    #IMAGE95 > .ladi-image > .ladi-image-background {
        width: 234px;
        height: 156px;
        top: 0px;
        left: -35px;
        background-image: url("https://w.ladicdn.com/s550x500/57b167c9ca57d39c18a1c57c/uekvaa2j20200324063902.jpg");
    }
    #IMAGE95 > .ladi-image {
        border-color: rgba(242, 67, 13, 0.2);
        border-width: 4px;
    }
    #HEADLINE96 {
        top: 26px;
        left: 50px;
        right: 50px;
    }
    #HEADLINE96 > .ladi-headline {
        color: rgb(35, 86, 218);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    #PARAGRAPH97 {
        top: 109.71px;
        left: 12px;
        right: 12px;
    }
    #PARAGRAPH97 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #SHAPE98 {
        width: 47.3766px;
        height: 18.879px;
        top: 48.829px;
        left: -120.688px;
    }
    #SHAPE98 svg:last-child {
        fill: rgba(246, 15, 251, 1);
    }
    #SECTION99 {
        height: 737px;
    }
    #SECTION99 > .ladi-section-background {
        background-color: rgba(35, 86, 218, 0.1);
    }
    #HEADLINE100 {
        top: 24px;
        left: 10px;
        right: 10px;
    }
    #HEADLINE100 > .ladi-headline {
        color: rgb(35, 86, 218);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    #PARAGRAPH101 {
        top: 103px;
        left: 18px;
        right: 18px;
    }
    #PARAGRAPH101 > .ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #LINE102 {
        width: 223px;
        top: 200px;
        left: 98.5px;
    }
    #LINE102 > .ladi-line > .ladi-line-container {
        border-top: 1px solid rgb(154, 60, 245);
        border-right: 1px solid rgb(154, 60, 245);
        border-bottom: 1px solid rgb(154, 60, 245);
        border-left: 0px !important;
    }
    #LINE102 > .ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #BUTTON103 {
        height: 40px;
        top: 662px;
        left: 100px;
        right: 100px;
    }
    #BUTTON103 > .ladi-button > .ladi-button-background {
        background-color: rgb(154, 60, 245);
    }
    #BUTTON103 > .ladi-button {
        border-radius: 103px;
        border-color: rgb(255, 94, 47);
        border-width: 1px;
    }
    #BUTTON_TEXT103 {
        width: 189px;
        top: 9px;
        left: 0px;
    }
    #BUTTON_TEXT103 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP105 {
        width: 100%;
        height: 387px;
        top: 236px;
        left: 18px;
    }
    #GROUP105 .ladi-group {
        overflow-x: auto;
    }

    #GROUP106 {
        width: 303px;
        height: 387px;
        top: 0px;
        left: 0px;
    }
    #BOX107 {
        width: 303px;
        height: 387px;
        top: 0px;
        left: 0px;
    }
    #BOX107 > .ladi-box {
        box-shadow: 0px 3px 9px 0px rgba(31,31,31,0.16);
        -webkit-box-shadow: 0px 3px 9px 0px rgba(31,31,31,0.16);
        background-color: rgb(255, 255, 255);
    }
    #HEADLINE108 {
        width: 205px;
        top: 196px;
        left: 45px;
    }
    #HEADLINE108 > .ladi-headline {
        color: rgb(35, 86, 218);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    #LINE109 {
        width: 255px;
        top: 223px;
        left: 25px;
    }
    #LINE109 > .ladi-line > .ladi-line-container {
        border-top: 1px dashed rgba(148, 148, 148, 0.3);
        border-right: 1px dashed rgba(148, 148, 148, 0.3);
        border-bottom: 1px dashed rgba(148, 148, 148, 0.3);
        border-left: 0px !important;
    }
    #LINE109 > .ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #IMAGE110 {
        width: 302px;
        height: 180px;
        top: 0px;
        left: 1px;
    }
    #IMAGE110 > .ladi-image > .ladi-image-background {
        width: 303px;
        height: 377.5px;
        top: -110px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s650x700/57b167c9ca57d39c18a1c57c/ae6nfxi-20200324064020.jpg");
    }
    #GROUP111 {
        width: 225px;
        height: 84px;
        top: 260.75px;
        left: 35px;
    }
    #PARAGRAPH112 {
        width: 152px;
        top: 0px;
        left: 73px;
    }
    #PARAGRAPH112 > .ladi-paragraph {
        color: rgb(242, 67, 13);
        font-size: 14px;
        text-align: right;
        line-height: 2;
    }
    #PARAGRAPH113 {
        width: 152px;
        top: 0px;
        left: 0px;
    }
    #PARAGRAPH113 > .ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 14px;
        line-height: 2;
    }
    #GROUP114 {
        width: 303px;
        height: 387px;
        top: 0px;
        left: 658px;
    }
    #BOX115 {
        width: 303px;
        height: 387px;
        top: 0px;
        left: 0px;
    }
    #BOX115 > .ladi-box {
        box-shadow: 0px 3px 9px 0px rgba(31,31,31,0.16);
        -webkit-box-shadow: 0px 3px 9px 0px rgba(31,31,31,0.16);
        background-color: rgb(255, 255, 255);
    }
    #HEADLINE116 {
        width: 205px;
        top: 196px;
        left: 45px;
    }
    #HEADLINE116 > .ladi-headline {
        color: rgb(35, 86, 218);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    #LINE117 {
        width: 255px;
        top: 223px;
        left: 25px;
    }
    #LINE117 > .ladi-line > .ladi-line-container {
        border-top: 1px dashed rgba(148, 148, 148, 0.2);
        border-right: 1px dashed rgba(148, 148, 148, 0.2);
        border-bottom: 1px dashed rgba(148, 148, 148, 0.2);
        border-left: 0px !important;
    }
    #LINE117 > .ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #IMAGE118 {
        width: 303px;
        height: 180px;
        top: 0px;
        left: 0px;
    }
    #IMAGE118 > .ladi-image > .ladi-image-background {
        width: 303px;
        height: 201.333px;
        top: -21.333px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s650x550/57b167c9ca57d39c18a1c57c/ywy0qkye20200324064050.jpg");
    }
    #GROUP119 {
        width: 225px;
        height: 84px;
        top: 260.75px;
        left: 35px;
    }
    #PARAGRAPH120 {
        width: 152px;
        top: 0px;
        left: 73px;
    }
    #PARAGRAPH120 > .ladi-paragraph {
        color: rgb(242, 67, 13);
        font-size: 14px;
        text-align: right;
        line-height: 2;
    }
    #PARAGRAPH121 {
        width: 152px;
        top: 0px;
        left: 0px;
    }
    #PARAGRAPH121 > .ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 14px;
        line-height: 2;
    }
    #GROUP122 {
        width: 303px;
        height: 387px;
        top: 0px;
        left: 329.5px;
    }
    #BOX123 {
        width: 303px;
        height: 387px;
        top: 0px;
        left: 0px;
    }
    #BOX123 > .ladi-box {
        background: rgba(246, 16, 251, 1.0);
        background: -webkit-linear-gradient(269deg, rgba(246, 16, 251, 1.0), rgba(35, 86, 218, 1.0));
        background: linear-gradient(269deg, rgba(246, 16, 251, 1.0), rgba(35, 86, 218, 1.0));
        box-shadow: 0px 3px 9px 0px rgba(31,31,31,0.16);
        -webkit-box-shadow: 0px 3px 9px 0px rgba(31,31,31,0.16);
    }
    #HEADLINE124 {
        width: 205px;
        top: 195px;
        left: 50px;
    }
    #HEADLINE124 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    #LINE125 {
        width: 255px;
        top: 223px;
        left: 25px;
    }
    #LINE125 > .ladi-line > .ladi-line-container {
        border-top: 1px dashed rgba(148, 148, 148, 0.2);
        border-right: 1px dashed rgba(148, 148, 148, 0.2);
        border-bottom: 1px dashed rgba(148, 148, 148, 0.2);
        border-left: 0px !important;
    }
    #LINE125 > .ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #IMAGE126 {
        width: 303px;
        height: 180px;
        top: 0px;
        left: 0px;
    }
    #IMAGE126 > .ladi-image > .ladi-image-background {
        width: 303px;
        height: 201.334px;
        top: -18px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s650x550/57b167c9ca57d39c18a1c57c/1dyhov7q20200324064029.jpg");
    }
    #GROUP127 {
        width: 225px;
        height: 84px;
        top: 260.75px;
        left: 36.5px;
    }
    #PARAGRAPH128 {
        width: 152px;
        top: 0px;
        left: 73px;
    }
    #PARAGRAPH128 > .ladi-paragraph {
        color: rgb(234, 242, 255);
        font-size: 14px;
        text-align: right;
        line-height: 2;
    }
    #PARAGRAPH129 {
        width: 152px;
        top: 0px;
        left: 0px;
    }
    #PARAGRAPH129 > .ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 14px;
        line-height: 2;
    }
    #SECTION130 {
        height: 841.763px;
    }
    #BOX131 {
        height: 301px;
        top: 524.255px;
        left: 10px;
        right: 10px;
    }
    #BOX131 > .ladi-box {
        background-color: rgba(253, 251, 251, 0);
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.1);
        border-width: 1px;
    }
    #HEADLINE132 {
        top: 366.255px;
        left: 22px;
        right: 22px;
    }
    #HEADLINE132 > .ladi-headline {
        color: rgb(5, 31, 77);
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        line-height: 1.2;
    }
    #PARAGRAPH133 {
        top: 442.255px;
        left: 22px;
        right: 22px;
    }
    #PARAGRAPH133 > .ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #IMAGE134 {
        width: 400px;
        height: 334.255px;
        top: 10px;
        left: 10px;
    }
    #IMAGE134 > .ladi-image > .ladi-image-background {
        width: 575.525px;
        height: 383.533px;
        top: -49.2785px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s900x700/57b167c9ca57d39c18a1c57c/wp3xf1yj20200324064107.jpg");
    }
    #GROUP135 {
        width: 42%;
        height: 112px;
        top: 543.763px;
        left: 40.25px;
    }
    #SHAPE136 {
        width: 41px;
        height: 41px;
        top: 0px;
        left: 1.68434px;
    }
    #SHAPE136 svg:last-child {
        fill: rgba(154, 60, 245, 1.0);
    }
    #HEADLINE137 {
        width: 100%;
        top: 46px;
        left: 0px;
    }
    #HEADLINE137 > .ladi-headline {
        color: rgb(7, 58, 145);
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        line-height: 1.6;
    }
    #PARAGRAPH138 {
        width: 100%;
        top: 68px;
        left: 1.13687px;
    }
    #PARAGRAPH138 > .ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #BOX139 {
        width: 38.5px;
        height: 38.5px;
        top: 646.263px;
        left: -58.25px;
    }
    #BOX139 > .ladi-overlay {
        border-radius: 99px;
    }
    #BOX139 > .ladi-box {
        border-radius: 99px;
        background-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-color: rgb(5, 31, 77);
        border-width: 1px;
    }
    #GROUP140 {
        width: 42%;
        height: 112px;
        top: 543.763px;
        left: 55%;
    }
    #HEADLINE141 {
        width: 100%;
        top: 46px;
        left: 0.89457px;
    }
    #HEADLINE141 > .ladi-headline {
        color: rgb(5, 31, 77);
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        line-height: 1.6;
    }
    #PARAGRAPH142 {
        width: 100%;
        top: 68px;
        left: 0.89457px;
    }
    #PARAGRAPH142 > .ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #SHAPE143 {
        width: 36.9444px;
        height: 36.9444px;
        top: 0px;
        left: 0px;
    }
    #SHAPE143 svg:last-child {
        fill: rgba(154, 60, 245, 1.0);
    }
    #GROUP144 {
        width: 42%;
        height: 111px;
        top: 684.763px;
        left: 40.25px;
    }
    #SHAPE145 {
        width: 38px;
        height: 38px;
        top: 0px;
        left: 1.68434px;
    }
    #SHAPE145 svg:last-child {
        fill: rgba(154, 60, 245, 1.0);
    }
    #HEADLINE146 {
        width: 100%;
        top: 45px;
        left: 0px;
    }
    #HEADLINE146 > .ladi-headline {
        color: rgb(7, 58, 145);
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        line-height: 1.6;
    }
    #PARAGRAPH147 {
        width: 100%;
        top: 67px;
        left: 1.13687px;
    }
    #PARAGRAPH147 > .ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #GROUP148 {
        width: 42%;
        height: 115px;
        top: 674.763px;
        left: 55%;
    }
    #SHAPE149 {
        width: 41px;
        height: 41px;
        top: 0px;
        left: 0px;
    }
    #SHAPE149 svg:last-child {
        fill: rgba(154, 60, 245, 1.0);
    }
    #HEADLINE150 {
        width: 100%;
        top: 49px;
        left: 0px;
    }
    #HEADLINE150 > .ladi-headline {
        color: rgb(7, 58, 145);
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        line-height: 1.6;
    }
    #PARAGRAPH151 {
        width: 100%;
        top: 71px;
        left: 0px;
    }
    #PARAGRAPH151 > .ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #SECTION210 {
        height: 1357.59px;
    }
    #SECTION210 > .ladi-section-background {
        background-color: rgba(236, 244, 255, 0.5);
    }
    #GROUP211 {
        height: 443px;
        top: 886.87px;
        left: 20px;
        right: 20px;
    }
    #FRAME212 {
        height: 443px;
        top: 0px;
        left: 0px;
        right: 0px;
    }
    #FRAME212 > .ladi-frame {
        background: rgba(246, 16, 251, 1.0);
        background: -webkit-linear-gradient(180deg, rgba(246, 16, 251, 1.0), rgba(35, 86, 218, 1.0));
        background: linear-gradient(180deg, rgba(246, 16, 251, 1.0), rgba(35, 86, 218, 1.0));
        box-shadow: 0px 0px 30px -15px rgba(235, 243, 255, 0.2);
        -webkit-box-shadow: 0px 0px 30px -15px rgba(235, 243, 255, 0.2);
    }
    #IMAGE213 {
        width: 713px;
        height: 443.333px;
        top: 0px;
        left: -211px;
    }
    #IMAGE213 > .ladi-image > .ladi-image-background {
        width: 713px;
        height: 531.333px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s1050x850/5c7362c6c417ab07e5196b05/frhjs-yz20200203065950.jpg");
    }
    #IMAGE213 > .ladi-image {
        opacity: 0.08;
    }
    #PARAGRAPH214 {
        top: 33px;
        left: 34px;
        right: 34px;
    }
    #PARAGRAPH214 > .ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
    }
    #PARAGRAPH215 {
        width: 315px;
        top: 90px;
        left: 34px;
    }
    #PARAGRAPH215 > .ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 14px;
        line-height: 1.6;
    }
    #PARAGRAPH216 {
        top: 343.333px;
        left: 42px;
        right: 42px;
    }
    #PARAGRAPH216 > .ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 14px;
        line-height: 1.6;
    }
    #FORM217 {
        height: 171.798px;
        top: 158.25px;
        left: 34px;
        right: 34px;
    }
    #FORM217 > .ladi-form {
        color: rgba(5, 31, 79, 0.8);
        font-size: 14px;
        line-height: 1.6;
    }
    #FORM217 .ladi-form-item .ladi-form-control::placeholder,
    #FORM217 .ladi-form .ladi-form-item .ladi-form-control-select[data-selected=""],
    #FORM217 .ladi-form .ladi-form-item.ladi-form-checkbox .ladi-form-checkbox-item span[data-checked="false"] {
        color: rgba(5, 31, 79, 0.8);
    }
    #FORM217 .ladi-form-item {
        padding-left: 8px;
        padding-right: 8px;
    }
    #FORM217 .ladi-form-item.ladi-form-checkbox {
        padding-left: 13px;
        padding-right: 13px;
    }
    #FORM217 .ladi-form-item-container .ladi-form-item .ladi-form-control-select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgba(5%2C%2031%2C%2079%2C%200.8)"></polygon></svg>');
    }
    #FORM217 .ladi-form-item-container {
        border-style: solid;
        border-color: rgb(238, 238, 238);
        border-width: 1px;
    }
    #FORM217 .ladi-form-item-background {
        background-color: rgb(255, 255, 255);
    }
    #BUTTON218 {
        height: 36.7983px;
        top: 135px;
        left: 60px;
        right: 60px;
    }
    #BUTTON218 > .ladi-button > .ladi-button-background {
        background-color: rgba(0, 0, 0, 0.7);
    }
    #BUTTON218 > .ladi-button {
        border-radius: 0px;
    }
    #BUTTON_TEXT218 {
        top: 9px;
        left: 0px;
        right: 0px;
    }
    #BUTTON_TEXT218 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #FORM_ITEM220 {
        height: 35px;
        top: 0px;
        left: 0px;
        right: 0px;
    }
    #FORM_ITEM221 {
        height: 35px;
        top: 45px;
        left: 0px;
        right: 0px;
    }
    #FORM_ITEM222 {
        height: 35px;
        top: 90px;
        left: 0px;
        right: 0px;
    }
    #GROUP223 {
        height: 138.344px;
        top: 472.88px;
        left: 29px;
        right: 29px;
    }
    #PARAGRAPH224 {
        top: 94.344px;
        left: 20px;
        right: 0px;
    }
    #PARAGRAPH224 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        line-height: 1.6;
    }
    #GROUP225 {
        width: 408.344px;
        height: 83.344px;
        top: 0px;
        left: 0px;
    }
    #PARAGRAPH226 {
        top: 11.344px;
        left: 20.344px;
        right: 20px;
    }
    #PARAGRAPH226 > .ladi-paragraph {
        color: rgb(35, 86, 218);
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
    }
    #SHAPE227 {
        width: 36.688px;
        height: 36.688px;
        top: 0px;
        left: 0px;
    }
    #SHAPE227 svg:last-child {
        fill: rgba(13, 98, 242, 0.3);
    }
    #GROUP228 {
        width: 212px;
        height: 83.969px;
        top: 770.89px;
        left: 192px;
    }
    #GROUP229 {
        width: 212px;
        height: 63.2812px;
        top: 0px;
        left: 0px;
    }
    #COUNTDOWN230 {
        width: 191.501px;
        height: 39.2647px;
        top: 24.0165px;
        left: 10.1402px;
    }
    #COUNTDOWN230 > .ladi-countdown {
        color: rgb(5, 30, 77);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    #COUNTDOWN230 > .ladi-countdown > .ladi-element {
        width: calc((100% - 10px * 3) / 4);
        margin-right: 10px;
        height: 100%;
    }
    #COUNTDOWN230 > .ladi-countdown .ladi-countdown-background {
        background-color: rgba(13, 98, 242, 0.2);
    }
    #PARAGRAPH235 {
        width: 212px;
        top: 0px;
        left: 0px;
    }
    #PARAGRAPH235 > .ladi-paragraph {
        color: rgb(5, 30, 77);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP236 {
        width: 193.977px;
        height: 19px;
        top: 64.969px;
        left: 8.543px;
    }
    #PARAGRAPH237 {
        width: 44px;
        top: 0px;
        left: 0px;
    }
    #PARAGRAPH237 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH238 {
        width: 44px;
        top: 0px;
        left: 49.5705px;
    }
    #PARAGRAPH238 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH239 {
        width: 44px;
        top: 0px;
        left: 98.508px;
    }
    #PARAGRAPH239 > .ladi-paragraph {
        color: rgb(5, 30, 77);
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH240 {
        width: 44px;
        top: 0px;
        left: 149.977px;
    }
    #PARAGRAPH240 > .ladi-paragraph {
        color: rgb(5, 30, 77);
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP241 {
        width: 687.5px;
        height: 105px;
        top: 629.887px;
        left: 4.828px;
    }
    #GROUP242 {
        width: 148px;
        height: 105px;
        top: 0px;
        left: 539.5px;
    }
    #BOX243 {
        width: 31.25px;
        height: 31.25px;
        top: 0px;
        left: 54px;
    }
    #BOX243 > .ladi-overlay {
        border-radius: 100px;
    }
    #BOX243 > .ladi-box {
        border-radius: 100px;
        box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        background-color: rgb(7, 58, 145);
    }
    #SHAPE244 {
        width: 15.5472px;
        height: 15.5472px;
        top: 8.244px;
        left: 61.9322px;
    }
    #SHAPE244 svg:last-child {
        fill: rgba(234, 242, 255, 1.0);
    }
    #PARAGRAPH245 {
        width: 148px;
        top: 39px;
        left: 0px;
    }
    #PARAGRAPH245 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP246 {
        width: 173px;
        height: 105px;
        top: 0px;
        left: 0px;
    }
    #BOX247 {
        width: 31.25px;
        height: 31.25px;
        top: 0px;
        left: 66px;
    }
    #BOX247 > .ladi-overlay {
        border-radius: 100px;
    }
    #BOX247 > .ladi-box {
        border-radius: 100px;
        box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        background-color: rgb(7, 58, 145);
    }
    #SHAPE248 {
        width: 15.5472px;
        height: 15.5472px;
        top: 8.244px;
        left: 73.9322px;
    }
    #SHAPE248 svg:last-child {
        fill: rgba(234, 242, 255, 1.0);
    }
    #PARAGRAPH249 {
        width: 173px;
        top: 39px;
        left: 0px;
    }
    #PARAGRAPH249 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP250 {
        width: 146px;
        height: 105px;
        top: 0px;
        left: 377.667px;
    }
    #BOX251 {
        width: 31.25px;
        height: 31.25px;
        top: 0px;
        left: 55px;
    }
    #BOX251 > .ladi-overlay {
        border-radius: 100px;
    }
    #BOX251 > .ladi-box {
        border-radius: 100px;
        box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        background-color: rgb(7, 58, 145);
    }
    #SHAPE252 {
        width: 15.5472px;
        height: 15.5472px;
        top: 8.244px;
        left: 62.9322px;
    }
    #SHAPE252 svg:last-child {
        fill: rgba(234, 242, 255, 1.0);
    }
    #PARAGRAPH253 {
        width: 146px;
        top: 39px;
        left: 0px;
    }
    #PARAGRAPH253 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP254 {
        width: 173px;
        height: 105px;
        top: 0px;
        left: 188.833px;
    }
    #BOX255 {
        width: 31.25px;
        height: 31.25px;
        top: 0px;
        left: 66px;
    }
    #BOX255 > .ladi-overlay {
        border-radius: 100px;
    }
    #BOX255 > .ladi-box {
        border-radius: 100px;
        box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
        background-color: rgb(7, 58, 145);
    }
    #SHAPE256 {
        width: 15.5472px;
        height: 15.5472px;
        top: 8.244px;
        left: 73.9322px;
    }
    #SHAPE256 svg:last-child {
        fill: rgba(234, 242, 255, 1.0);
    }
    #PARAGRAPH257 {
        width: 173px;
        top: 39px;
        left: 0px;
    }
    #PARAGRAPH257 > .ladi-paragraph {
        color: rgb(5, 31, 77);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP258 {
        height: 433.94px;
        top: 16.224px;
        left: 37px;
        right: 40px;
    }
    #SHAPE259 {
        width: 123px;
        height: 123px;
        top: 0px;
        right: 12px;
    }
    #SHAPE259 svg:last-child {
        fill: rgba(7, 58, 145, 0.1);
    }
    #GROUP260 {
        width: 111.262px;
        height: 171.22px;
        top: 262.72px;
        left: 0px;
    }
    #GROUP261 {
        width: 52.9495px;
        height: 111.567px;
        top: 59.6517px;
        left: 58.3125px;
    }
    #SHAPE262 {
        width: 52.9495px;
        height: 52.8771px;
        top: 0px;
        left: 0px;
    }
    #SHAPE262 svg:last-child {
        fill: rgba(13, 98, 242, 1.0);
    }
    #SHAPE263 {
        width: 52.9495px;
        height: 52.8771px;
        top: 58.6899px;
        left: 0px;
    }
    #SHAPE263 svg:last-child {
        fill: rgba(13, 98, 242, 1.0);
    }
    #SHAPE264 {
        width: 52.9495px;
        height: 52.8773px;
        top: 59.6517px;
        left: 0px;
    }
    #SHAPE264 svg:last-child {
        fill: rgba(13, 98, 242, 1.0);
    }
    #SHAPE265 {
        width: 52.9495px;
        height: 52.8773px;
        top: 118.343px;
        left: 0px;
    }
    #SHAPE265 svg:last-child {
        fill: rgba(13, 98, 242, 1.0);
    }
    #SHAPE266 {
        width: 52.9495px;
        height: 52.8773px;
        top: 0px;
        left: 0px;
    }
    #SHAPE266 svg:last-child {
        fill: rgba(13, 98, 242, 1.0);
    }
    #SHAPE267 {
        width: 52.9495px;
        height: 52.8773px;
        top: 0px;
        left: 58.3121px;
    }
    #SHAPE267 svg:last-child {
        fill: rgba(13, 98, 242, 1.0);
    }
    #BOX268 {
        height: 395px;
        top: 13px;
        left: 23.4363px;
        right: 30px;
    }
    #BOX268 > .ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s600x700/57b167c9ca57d39c18a1c57c/k9a2vhth20200324064157.jpg");
        background-position: center top;
        background-repeat: repeat;
    }
    #BOX269 {
        width: 105px;
        height: 105px;
        top: 230px;
        right: -20px;
    }
    #BOX269 > .ladi-overlay {
        border-radius: 100px;
    }
    #BOX269 > .ladi-box {
        border-radius: 100px;
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s450x450/57b167c9ca57d39c18a1c57c/phtu5hvb20200324064219.jpg");
        background-position: left bottom;
        background-repeat: repeat;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 3px;
    }
    #BOX270 {
        width: 105px;
        height: 105px;
        top: 87px;
        right: -20px;
    }
    #BOX270 > .ladi-overlay {
        border-radius: 100px;
    }
    #BOX270 > .ladi-box {
        border-radius: 100px;
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s450x450/57b167c9ca57d39c18a1c57c/yn20q4vh20200324064210.jpg");
        background-position: center top;
        background-repeat: repeat;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 4px;
    }
    #BOX271 {
        width: 46.1122px;
        height: 46.1121px;
        top: 381.609px;
        left: 106.962px;
    }
    #BOX271 > .ladi-box {
        background-color: rgba(8, 58, 145, 0.5);
    }
    #GROUP272 {
        width: 167.408px;
        height: 77.2341px;
        top: 776.25px;
        left: 24.592px;
    }
    #SHAPE273 {
        width: 52.8923px;
        height: 26.1431px;
        top: 51.091px;
        left: 8.925px;
    }
    #SHAPE273 > .ladi-shape {
        transform: rotate(-216deg);
        -webkit-transform: rotate(-216deg);
    }
    #SHAPE273 svg:last-child {
        fill: rgba(6, 31, 79, 1.0);
    }
    #SHAPE274 {
        width: 74.9357px;
        height: 37.0385px;
        top: 35.75px;
        left: 0px;
    }
    #SHAPE274 > .ladi-shape {
        transform: rotate(-186deg);
        -webkit-transform: rotate(-186deg);
    }
    #SHAPE274 svg:last-child {
        fill: rgba(7, 58, 145, 1.0);
    }
    #BOX275 {
        width: 167.305px;
        height: 39.1682px;
        top: 18px;
        left: 0.103px;
    }
    #BOX275 > .ladi-overlay {
        border-top-left-radius: 12px;
        border-bottom-right-radius: 42px;
    }
    #BOX275 > .ladi-box {
        background: rgba(13, 98, 242, 1.0);
        background: -webkit-linear-gradient(-90deg, rgba(13, 98, 242, 1.0), rgba(5, 31, 77, 1.0));
        background: linear-gradient(-90deg, rgba(13, 98, 242, 1.0), rgba(5, 31, 77, 1.0));
        border-top-left-radius: 12px;
        border-bottom-right-radius: 42px;
    }
    #PARAGRAPH276 {
        width: 78px;
        top: 0px;
        left: 40.634px;
    }
    #PARAGRAPH276 > .ladi-paragraph {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(7, 32, 79);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    #PARAGRAPH277 {
        width: 83px;
        top: 25.951px;
        left: 38.134px;
    }
    #PARAGRAPH277 > .ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    #SECTION278 {
        height: 929.78px;
    }
    #SECTION278 > .ladi-overlay {
        background-color: rgba(7, 58, 145, 0.7);
    }
    #SECTION278 > .ladi-section-background {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url("https://w.ladicdn.com/s768x929/57b167c9ca57d39c18a1c57c/subscription-bg.jpg");
        background-position: left top;
        background-repeat: no-repeat;
    }
    #FRAME279 {
        width: 196.626px;
        height: 41.653px;
        top: 410.988px;
        left: 21.39px;
    }
    #FRAME279 > .ladi-frame {
        background-color: rgb(255, 255, 255);
    }
    #IMAGE280 {
        width: 35.5258px;
        height: 22.6523px;
        top: 9.805px;
        left: 60.688px;
    }
    #IMAGE280 > .ladi-image > .ladi-image-background {
        width: 35.5258px;
        height: 22.6523px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/5c7362c6c417ab07e5196b05/mastercard-20200311062250-20200312040745.svg");
    }
    #IMAGE281 {
        width: 35.526px;
        height: 22.6523px;
        top: 9.805px;
        left: 18.532px;
    }
    #IMAGE281 > .ladi-image > .ladi-image-background {
        width: 35.526px;
        height: 22.6523px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/5c7362c6c417ab07e5196b05/visa-20200311062250-20200312040726.svg");
    }
    #IMAGE282 {
        width: 79.4545px;
        height: 30.4573px;
        top: 6px;
        left: 100.214px;
    }
    #IMAGE282 > .ladi-image > .ladi-image-background {
        width: 79.4545px;
        height: 30.4573px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/5c7362c6c417ab07e5196b05/bo-cong-thuong-20200311062345-20200312040731.svg");
    }
    #LINE283 {
        width: 379px;
        top: 464.162px;
        left: 21.39px;
    }
    #LINE283 > .ladi-line > .ladi-line-container {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 0px !important;
    }
    #LINE283 > .ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #HEADLINE284 {
        width: 322px;
        top: 485.815px;
        left: 20px;
    }
    #HEADLINE284 > .ladi-headline {
        color: rgba(255, 255, 255, 0.9);
        font-size: 12px;
        text-align: left;
        line-height: 1.2;
    }
    #GROUP285 {
        height: 165.239px;
        top: 44px;
        left: 20px;
        right: 20px;
    }
    #HEADLINE286 {
        top: 0px;
        left: 0px;
        right: 0px;
    }
    #HEADLINE286 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        line-height: 1.4;
    }
    #LIST_PARAGRAPH287 {
        top: 65.239px;
        left: 0px;
        right: 0px;
    }
    #LIST_PARAGRAPH287 > .ladi-list-paragraph {
        color: rgb(255, 255, 255);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #LIST_PARAGRAPH287 ul li {
        padding-bottom: 4px;
        padding-left: 20px;
    }
    #LIST_PARAGRAPH287 ul li:before {
        content: counter(linum, disc);
        font-size: 25px;
        top: -10px;
    }
    #GROUP288 {
        height: 138.239px;
        top: 243.693px;
        left: 20px;
        right: 20px;
    }
    #LIST_PARAGRAPH289 {
        top: 38.239px;
        left: 1.39px;
        right: 2px;
    }
    #LIST_PARAGRAPH289 > .ladi-list-paragraph {
        color: rgb(255, 255, 255);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #LIST_PARAGRAPH289 ul li {
        padding-bottom: 4px;
        padding-left: 20px;
    }
    #LIST_PARAGRAPH289 ul li:before {
        content: counter(linum, disc);
        font-size: 25px;
        top: -10px;
    }
    #HEADLINE290 {
        width: 282px;
        top: 0px;
        left: 0px;
    }
    #HEADLINE290 > .ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        line-height: 1.2;
    }
}
