@media (min-width: 768px) {
    .ladi-section .ladi-container {
        width: 960px;
    }
}

@media (max-width:767px) {
    .ladi-section .ladi-container {
        width: 100%;
    }

    .ladi-element.ladi-auto-scroll {
        overflow-x:scroll;
        overflow-y:hidden;
        width:100%!important;
        left:0!important;
        -webkit-overflow-scrolling:touch
    }
    .ladi-section.ladi-auto-scroll {
        overflow-x:scroll;
        overflow-y:hidden;
        -webkit-overflow-scrolling:touch
    }
    .ladi-carousel .ladi-carousel-content {
        transition:left .3s ease-in-out
    }
    .ladi-gallery .ladi-gallery-view>.ladi-gallery-view-item {
        transition:transform .3s ease-in-out
    }
    .ladi-form>.ladi-element .ladi-form-item-container .ladi-form-item .ladi-form-checkbox-item input {
        vertical-align:middle
    }
}

body {
    font-family: "Open Sans", sans-serif
}
