body {
    font-family: "Open Sans",sans-serif;
}

a, u {
    text-decoration: none;
}

/*//chung*/
@media (max-width: 767px) {
    .cc-wrapper {
        background-color: rgba(217, 235, 255, 0.2);
    }

    .title-left {
        width: 90%;
        margin-left: 5%;
        font-size: 20px;
        margin-top: 10px;
    }

    .title-center {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
    }

    .sub-title-center {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
    }

    .sub-title-left {
        margin-top: 20px;
        font-size: 14px;
    }

    .line-full {
        width: 100%;
        height: 1px;
        background-color: black;
    }

    span {
        font-size: 16px;
    }

    .text-white {
        color: white;
    }

    .wapper-btn-buy {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .wapper-buy-now {
        background-image: linear-gradient(to bottom, #ff6a00, #ee0979);

        padding: 8px 40px;
    }

    .title-buy-now {
        font-size: 18px;
        color: white;
    }
}

/*section1*/
@media (max-width: 767px) {
    #section1 {
        display: flex;
        flex-direction: column;
        /*background-color: #00aff0;*/
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        position: relative;
    }

    #logo {
        width: 50px;
        height: 50px;
        position: absolute;
        background-image: url('../pictures/color.png');
        background-size: contain;
        top: 15px;
        left: 15px;
        border-radius: 25px;
    }

    #wrapper_carousel {
        margin-top: 10px;
        width: 100%;
        /*padding-bottom: 56.25%;*/
        padding-bottom: 76%;
        position: relative;
    }

    #cc-wrapper-carousel {
        width: 100%;
        height: 100%;
        background-color: #1a7c00;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .slick-slider, .slick-list, .slick-track {
        height: 100%;
    }

    .slick-prev, .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        z-index: 999;
    }

    .slick-dots li button {
        background: url("../pictures/distant.png");
        text-indent: -9999px;
        overflow:hidden;
        /* more CSS */
    }

    #wrapper-indicator {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item-indicator {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border: 1px groove green;
        margin-bottom: 3px;
    }
}

/*section2*/
@media (max-width: 767px) {

    #section2 {
        display: flex;
        flex-direction: column;
        background-color: rgba(217, 235, 255, 0.2);
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
    }

    #wrapper-price {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #s2-price-old {
        font-size: 20px;
        text-decoration-line: line-through;
    }

    #s2-price-cen {
        font-size: 20px;
        padding: 0px 10px 0px 10px;
    }

    #s2-price-show {
        font-size: 20px;
        font-weight: bold;
        color: red;
    }

    #s2-line {
        margin-top: 10px;
    }

    #wrapper-star {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .star-item {
        background-image: url("../pictures/ic-star.png");
        background-size: contain;
        width: 18px;
        height: 18px;
    }

    #text-comment {
        font-size: 16px;
        margin-left: 20px;
    }

    #text-order {
        margin-top: 5px;
        text-align: center;
    }

    #s2-text-quantity {
        margin-top: 60px;
        text-align: center;
    }

    .wrapepr-countdown {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        justify-content: center;
    }

    .wrapepr-countdown-item {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
    }

    .countdown-value {
        font-size: 40px;
        font-weight: bold;
    }

    .countdown-title {

    }

    #s2-buy {
        margin-top: 20px;
    }
}

/*section3*/
@media (max-width: 767px) {
    #section3 {
        display: flex;
        flex-direction: column;
        background-color: rgba(246, 15, 251, 0.1);
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
    }

    #icon-logo-s3 {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        background-image: url("../pictures/ic-star.png");
        background-size: cover;
    }

    #s3-wrapper-title {
        display: flex;
        flex-direction: row;
        margin-left: -10px;
    }

    #wrapper_function {
        overflow-x: auto;
        display: flex;
        flex-direction: row;
    }

    .wrapper-function-item {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        width: 300px;
    }

    .function-item-img {
        width: 300px;
        height: 220px;
        background-size: cover;
    }

    #function-img-1 {
        background-image: url("../pictures/sm-distant.png");
    }
    #function-img-2 {
        background-image: url("../pictures/sleep.png");
    }
    #function-img-3 {
        background-image: url("../pictures/healthy.png");
    }
    #function-img-4 {
        background-image: url("../pictures/selfie.png");
    }
    #function-img-5 {
        background-image: url("../pictures/sm-remind.png");
    }

    .function-item-content {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 220px;
        background-color: white;
        align-items: center;
    }

    .item-content-logo {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        background-image: url("../pictures/ic-star.png");
        background-size: cover;
    }

    .item-content-text {
        margin-left: 10px;
        margin-right: 10px;
    }

    #s3-buy {
        margin-top: 20px;
    }

    .s-buy {
        margin-top: 20px;
    }
}

/*section4*/
@media (max-width: 767px) {
    #section4 {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
        align-items: center;
    }

    #s4-banner {
        width: 100%;
        min-height: 120px;
        background-image: url("../pictures/sm-banner.png");
        background-size: cover;
    }

    #s4-info-img {
        align-items: center;
        width: 300px;
        height: 200px;
        margin-top: 10px;
        background-image: url("../pictures/reward.jpg");
        background-size: cover;
    }
}

/*section5*/
@media (max-width: 767px) {
    #section5 {
        display: flex;
        flex-direction: column;
        background-color: rgba(35, 86, 218, 0.1);
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
    }

    #s5-wrapper-title {
        display: flex;
        flex-direction: row;
        margin-left: -10px;
    }

    #icon-logo-s5 {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        background-image: url("../pictures/ic-star.png");
        background-size: cover;
    }

    .s5-title {
        font-size: 14px;
        font-weight: bold;
        margin-top: 8px;
    }

    .s5-value {
        font-size: 14px;
        font-weight: normal;
    }
}

/*section6*/
@media (max-width: 767px) {
    #section6 {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
    }

    #s6-wrapper-title {
        display: flex;
        flex-direction: row;
        margin-left: -10px;
        margin-top: 20px;
    }

    #icon-logo-s6 {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        background-image: url("../pictures/ic-star.png");
        background-size: cover;
    }

    .wrapper-ship-item {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
    }

    .ship-item-icon {
        width: 20px;
        height: 20px;
        background-color: #00aff0;
        border-radius: 10px;
        margin-right: 10px;
    }

    .ship-item-content {
        font-size: 14px;
        flex: 1;
    }

    #wrapper-ship-bg {
        width: 100%;
        height: 450px;
        position: relative;
        /*background-color: #00aff0;*/
    }

    #ship-bg1 {
        width: 80px;
        height: 100px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-image: url("../pictures/ic-dot.jpg");
        background-size: cover;
    }

    #ship-bg2 {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0px;
        right: 20px;
        background-image: url("../pictures/ic-dot.jpg");
        background-size: cover;
    }

    #ship-bg3 {
        height: 400px;
        position: absolute;
        top: 25px;
        left: 25px;
        right: 40px;
        background-image: url("../pictures/sun-moon-p10.jpg");
        background-size: cover;
    }

    #ship-bg4 {
        width: 80px;
        height: 80px;
        border: 3px groove white;
        border-radius: 50px;
        position: absolute;
        top: 125px;
        right: 0px;
        background-image: url("../pictures/sun-moon-p11.png");
        background-size: cover;
    }

    #ship-bg5 {
        width: 80px;
        height: 80px;
        border: 3px groove white;
        border-radius: 50px;
        position: absolute;
        top: 280px;
        right: 0px;
        background-image: url("../pictures/sun-moon-p12.jpg");
        background-size: cover;
    }
}

/*section7*/
@media (max-width: 767px) {
    #section7 {
        display: flex;
        flex-direction: column;
        background-color: rgba(35, 86, 218, 0.1);
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
        position: relative;
    }

    #s7-border-bg {
        margin-top: 200px;
        margin-bottom: 50px;
        border: 1px groove blue;
        height: 350px;
    }

    #s7-title {
        position: absolute;
        top: 20px;
        left: 0px;
        right: 0px;
    }

    #s7-main-bg1 {
        position: absolute;
        top: 75px;
        left: 50px;
        right: 50px;
        height: 350px;
        background-image: url("../pictures/sun-moon-p7.jpg");
        background-size: cover;
    }

    #s7-main-bg2 {
        position: absolute;
        top: 445px;
        left: 15px;
        height: 160px;
        width: 38%;
        background-image: url("../pictures/sun-moon-p8.jpg");
        background-size: contain;
    }

    #s7-main-bg3 {
        position: absolute;
        top: 445px;
        right: 15px;
        height: 160px;
        width: 47%;
        background-image: url("../pictures/sun-moon-p9.jpg");
        background-size: contain;
    }
}

/*section8*/
@media (max-width: 767px) {
    #section8 {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-top: 10px;
        background-image: linear-gradient(to bottom, rgba(246, 16, 251, 1.0), rgba(35, 86, 218, 1.0));
        /*height: 300px;*/
        background-size: cover;
    }

    /*#wrapper-bg-s8 {*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*opacity: 0.1;*/
        /*background-image: url("../pictures/bg-buy.jpg");*/
    /*}*/

    #s8-title {
        color: white;
        margin-top: 50px;
    }

    input {
        height: 33px;
        margin-top: 10px;
        padding-left: 10px;
    }

    #btn-submit {
        height: 33px;
        margin-top: 20px;
        background-color: black;
        color: white;
    }
}

/*section9*/
@media (max-width: 767px) {
    #section9 {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-top: 10px;
        background-color: darkblue;
        background-size: cover;
    }


}

/*section10*/
@media (max-width: 767px) {
    #section10 {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
        position: relative;
    }

    #s10-use-bg {
        background-image: url("../pictures/how-to-use.jpeg");
        width: 100%;
        background-size: contain;
        padding-bottom: 90%;
        background-size: contain;
    }

}
