#item1 {
}

#item2 {
    background-image: url("../pictures/sm-1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#item3 {
    background-image: url("../pictures/sm-2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#item4 {
    background-image: url("../pictures/sm-3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#item5 {
    background-image: url("../pictures/sm-4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#item6 {
    background-image: url("../pictures/sm-5.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#item7 {
    background-image: url("../pictures/sm-6.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#item8 {
    background-image: url("../pictures/sm-7.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#item9 {
    background-image: url("../pictures/sm-8.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



#indicator1{
    background-image: url("../pictures/video-cap.png");
    background-size: cover;
}

#indicator2{
    background-image: url("../pictures/sm-1.jpg");
    background-size: cover;
}

#indicator3{
    background-image: url("../pictures/sm-2.jpg");
    background-size: cover;
}

#indicator4{
    background-image: url("../pictures/sm-3.jpg");
    background-size: cover;
}

#indicator5{
    background-image: url("../pictures/sm-4.jpg");
    background-size: cover;
}

#indicator6{
    background-image: url("../pictures/sm-5.jpg");
    background-size: cover;
}

#indicator7{
    background-image: url("../pictures/sm-6.jpg");
    background-size: cover;
}

#indicator8{
    background-image: url("../pictures/sm-7.png");
    background-size: cover;
}

#indicator9{
    background-image: url("../pictures/sm-8.jpg");
    background-size: cover;
}
