.cc-website {
	height: 60px;
}
.bg-grey {
	background-color: #f2f2f2;
}
.wrapper: {
	width: 100%;
	
}

.cc-intro {
	padding-top: 10px;
	padding-bottom: 30px;
}

.cc-title {
    font-size: 30px;
    text-align: center;
    line-height: 1;
       
}

.cc-title2 {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.cc-video {
	margin-top: 50px;
}

.cc-product-buy {
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
	background-color: yellow;
	
}

.img-product {
    width: 30%;
    height: auto;
	float: left;
	margin-right: 20px;
}

.cc-content-product {
	
}

.iframe-video {
    float: left;
    margin-right: 30px;
}

.cc-content-product {
	
}

.img-info {
	width: 40%;
	height: 40%;
	border-radius: 100%;
	background-color: gray;
}

.cc-effect {
	background-color: #f2f2f2;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
}

.title-effect {
	text-align: center;
	padding-bottom: 20px;
}

.img-distance {
	float: left;
	margin-right: 80px;
	width: 40%;
	height: auto;
}
.line {
	width: 500px;
	height: 3px;
	background-color: red;
}

.img-color {
	float: right;
	margin-left: 80px;
	width: 40%;
	height: auto;
}

.cc-column {
	width: 100%;
	
}

.clear {
	clear: both
}